<form method="post" id="login-form">
  <input id="user" type="text" name="username" placeholder="username" />
  <input id="pass" type="password" name="password" placeholder="password" />
  <button type="submit">send</button>
</form>